@import 'fonts';
@import 'reset';

/* Variables */
$brand-color: #00aff9;

$gray-text: rgba(0, 0, 0, 0.6);
/* Variables */

body {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Components */
.btn {
  height: 36px;
  border-radius: 8px;
  background-color: $brand-color;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
  padding: 8px 20px;
}

.textarea {
  border: 1px solid #979797;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  line-height: 15px;
  padding: 16px;
  outline: none;
  &:focus {
    outline: none;
  }
}

.wrapper__app {
  height: 100vh;
}

.wrapper__modal {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 20px;

  h2 {
    font-size: 18px;
  }

  button {
    width: 100%;
    margin-bottom: 16px;
  }

  .close {
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
  }

  label {
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
  }

  textarea {
    border: 1px solid #979797;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Proxima Nova', sans-serif;
    font-size: 12px;
    line-height: 15px;
    padding: 14px 12px;
    min-height: 130px;

    &:focus {
      outline: 0;
    }
  }

  .send {
    align-self: flex-end;
    border-radius: 8px;
    background-color: #cccccc;
    color: #ffffff;
    outline: 0;
    border: 0;
    font-size: 16px;
    line-height: 20px;
    height: 28px;
    width: 90px;
    margin: 20px 0 0 0;
  }
}

.wrapper__modal.modal-reset {
  h2 {
    text-align: center;
    margin: 15px 0 25px 0;
  }
  .btn {
    width: auto;
  }
}
/* End Components */

.app__content {
  height: calc(100vh - 50px);
  min-height: calc(100% - 50px);
  overflow-y: auto;
}

.navigation__app {
  background: #f3f3f3;
  border-top: 1px solid rgba(238, 238, 238, 0.54);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 49px;

  ul {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: auto;
    list-style: none;
    padding: 12px 31px;
    height: 50px;
    width: 100%;
    max-width: 320px;

    a {
      display: flex;
      align-items: center;
      color: #b6bdc7;
      text-decoration: none;

      span {
        display: none;
        font-family: 'Proxima Nova', sans-serif;
        font-size: 16px;
        line-height: 20px;
        margin-left: 12px;
      }
    }

    .active {
      color: $brand-color;

      .tab-home g g {
        fill: $brand-color;
      }
      .tab-test path {
        fill: $brand-color;
      }
      .tab-info use {
        fill: $brand-color;
      }
      .tab-about path {
        fill: $brand-color;
      }
    }
  }
}

/* HOME */
.home {
  height: 100%;
}

.home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 250px;
  height: 100%;
  padding: 0 32px;

  &--logo {
    > div {
      margin-left: 17px;
    }

    h1 {
      color: rgba(0, 0, 0, 0.87);
      font-family: 'Proxima Nova', sans-serif;
      font-size: 38px;
      font-weight: 600;
      line-height: 46px;
    }

    h2 {
      color: rgba(0, 0, 0, 0.54);
      font-family: Roboto, sans-serif;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &--description {
    color: $gray-text;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: -0.39px;
    line-height: 20px;
    text-align: center;
  }

  &--btn {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

/* TESTS */
/* Tests list */
.wrapper__tests {
  height: 100%;
}

.tests {
  height: 100%;

  &__title {
    color: #2c2e38;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
    padding: 24px 0 34px 0;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 320px;
    margin: auto;

    &__item {
      margin: auto auto 37px auto;
      cursor: pointer;
      width: 25%;
      text-align: center;

      circle,
      path {
        transition: all ease 3s;
      }
    }
  }
}

.element-icon__wrapper {
  width: 60px;
  display: block;
  margin: auto;
  position: relative;

  .small-icon {
    position: absolute;
    right: -6px;
    bottom: -6px;
  }
}

/* Test */
.test {
  display: flex;
  flex-direction: column;
  padding: 32px 24px 0 24px;
  height: 100%;

  &__header {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;

    &__close {
      height: 24px;
    }

    &__progressbar {
      width: calc(100% - 35px);
    }
  }

  &__wrapper__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__question {
    border-radius: 4px 10px 4px 4px;
    background-color: rgba(232, 242, 251, 0.73);
    min-height: 215px;
    width: 100%;
    position: relative;

    p {
      color: #2c2e38;
      font-family: 'Proxima Nova', sans-serif;
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      padding: 16px;
      height: 100%;
      overflow-y: auto;
    }

    &--close {
      position: absolute;
      right: -10px;
      top: -10px;
      cursor: pointer;
    }
  }

  &__marks {
    padding-top: 36px;
    max-width: 400px;
    width: 100%;

    &--smiles {
      min-height: 52px;
    }

    svg {
      opacity: 0.54;

      &:active {
        opacity: 1;
      }
    }

    .active {
      height: 52px;
      width: 52px;
      opacity: 1;
    }
  }

  &__answer {
    text-align: center;
    min-height: 100px;

    p {
      color: rgba(0, 0, 0, 0.54);
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-style: italic;
      font-weight: 500;
      padding: 24px 0;
      margin: auto;
      line-height: 19px;
      text-align: center;
    }

    &__choose {
      font-family: 'Roboto', sans-serif;
      color: rgba(117, 117, 117, 0.54);
      font-size: 14px;
      font-style: italic;
      line-height: 16px;
      padding: 34px 0;
    }
  }
}

.info {
  height: 100%;
  position: relative;

  &__content {
    flex-direction: column;
    height: 100%;
    opacity: 0.07;

    .element-icon__wrapper {
      margin: 0;
      width: 40px;
      height: 44px;

      > svg {
        width: 37px;
        height: 37px;
      }

      .small-icon {
        right: -2px;
        bottom: 0px;

        svg {
          width: 17px;
          height: 17px;
        }
      }
    }

    &__title-abbreviation,
    &__title,
    &__type {
      color: #2c2e38;
      font-family: 'Proxima Nova', sans-serif;
      text-align: center;
    }

    &__title-abbreviation {
      font-size: 60px;
      font-weight: bold;
      line-height: 72px;
      margin-top: 5px;
    }

    &__title {
      font-size: 14px;
      font-weight: 600;
      line-height: 40px;
    }

    &__type {
      font-size: 24px;
      font-weight: 600;
      line-height: 40px;
      margin-bottom: 10px;
    }

    &__test-result,
    &__probability {
      color: rgba(44, 46, 56, 0.7);
      font-family: 'Proxima Nova', sans-serif;
      text-align: center;
    }

    &__test-result {
      font-size: 14px;
      line-height: 21px;
    }

    &__probability {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 12px;
    }

    &__probability-result {
      display: flex;
      justify-content: space-between;

      span {
        border-radius: 11.5px;
        background-color: #eeeeee;
        color: rgba(44, 46, 56, 0.7);
        font-family: 'Proxima Nova';
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        text-align: center;
        margin: 0 8px;
        padding: 5px 12px;
      }
    }

    .btn {
      margin-top: 25px;
      margin-bottom: 35px;
    }
  }

  &__content-temporary {
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

    h2 {
      color: #2c2e38;
      font-family: 'Proxima Nova', sans-serif;
      font-size: 20px;
      font-weight: bold;
      line-height: 28px;
      text-align: center;
      width: 200px;
      margin-bottom: 15px;
    }

    .btn {
      padding: 8px 28px;
    }
  }
}

.about {
  height: 100%;

  &__content {
    flex-direction: column;
    height: 100%;

    &__description,
    &__name,
    &__label {
      color: #2c2e38;
      max-width: 275px;
    }

    &__description {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    &__name {
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
      text-align: center;
      margin-bottom: 30px;
    }
    &__label {
      font-size: 13px;
      line-height: 15px;
      margin-bottom: 15px;
    }

    textarea,
    button {
      max-width: 275px;
      width: 100%;
    }

    textarea {
      min-height: 100px;
      resize: none;
    }

    button {
      margin-top: 15px;
    }
  }
}

.empty {
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  padding-top: calc(50vh - 50px);
}

/*
*   Media
*/

@import 'media';
